
// Coordenadas de inicio
ini.x=10
ini.y=10

// Número de filas y columnas por página
columns=2
rows=5

// Tamaño de la etiqueta
eti.width=2000
eti.height=1000

// Seperación entre etiquetas
inter.x=10
inter.y=10

// Desplazamiento del punto de origen de la escritura desde la esquina superior izquierda de la etiqueta.
CodeBar.x=5
CodeBar.y=5

// CodeBar
CodeBar.height=800

// Número de unidades por cada columna blanca o negra del código de barras.
CodeBar.unit=6

// Desplazamiento del punto de origen de la escritura desde la esquina superior izquierda de la etiqueta para el texto
Text.x=200;
Text.y=850;

